body {
    margin: 0;
    display: flex;
    flex-direction: column; /* Öğeler alt alta sıralanır */
    justify-content: center; /* Yatayda ortalar */
    align-items: center; /* Dikeyde ortalar */
    height: 100vh;
    background-color: #fadac1;
    font-family: "Squada One", sans-serif;
}

#gameCanvas {
    margin-top: 20px;
    width: 100%;
}

#uiCanvas {
    margin-top: 20px;
    width: 100%;
    background-color: transparent;
}
