body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    margin: 0; /* Margin'i sıfırlayın */
    height: 100vh; /* Yüksekliği tam sayfa yapın */
    display: flex; /* Flexbox ile ortalayın */
    flex-direction: column; /* Dikey olarak hizalayın */
    justify-content: center; /* Yatay ortalama */
}

h1 {
    color: #333;
}

#ton-connect {
    margin: 20px 0; /* Butonun çevresine boşluk ekleyin */
}

#connectBtn {
    padding: 20px 40px; /* Buton içeriğini daha iyi ayarlayın */
    font-size: 16px;
    cursor: pointer;
    background-color: #0088cc;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 2;
}

#connectBtn:hover {
    background-color: #005f99;
}

#walletInfo {
    margin-top: 20px; /* Bilgi kısmı için üstten boşluk */
}
